sudo: required
language: python
cache: pip
services:
  - docker
install:
  - pip install ansible==2.3.2 molecule==1.25.0 docker git-semver testinfra>=1.7.0
script:
  - molecule test
deploy:
  provider: script
  skip_cleanup: true
  script:
    - ./.travis/generatetag.sh
  on:
    branch: master
#do not start when tag is added
branches:
  only:
    - master
tags:
  except:
    - /^\d+\.\d+\.\d+$/
notifications:
    webhooks: https://galaxy.ansible.com/api/v1/notifications/
#after_script:
#  - ./.travis/notification.sh
