{{ ansible_managed | comment }}

apiVersion: 1
providers:
 - name: dashboards
   updateIntervalSeconds: {{ grafana_update_interval_seconds | int }}
   options:
     path: {{ grafana_data_dir }}/dashboards
     foldersFromFilesStructure: {{ grafana_folders_from_files_structure }}
