---
- hosts: all
  any_errors_fatal: true
  roles:
    - ansible-grafana
  vars:
    grafana_version: 5.1.0
    grafana_security:
      admin_user: admin
      admin_password: "password"
    grafana_address: "127.0.0.1"
    grafana_auth:
      disable_login_form: false
      disable_signout_menu: false
      anonymous:
        org_name: "Main Organization"
        org_role: Viewer
      basic: true
    grafana_api_keys:
      - name: "admin"
        role: "Admin"
      - name: "viewer"
        role: "Viewer"
      - name: "editor"
        role: "Editor"
    grafana_api_keys_dir: "/tmp/grafana/keys"
    grafana_plugins:
      - raintank-worldping-app
    grafana_alert_notifications:
      - name: "Email Alert"
        type: "email"
        isDefault: true
        settings:
          addresses: "example@example.com"
    grafana_dashboards:
      - dashboard_id: '1860'
        revision_id: '4'
        datasource: 'Prometheus'
      - dashboard_id: '358'
        revision_id: '1'
        datasource: 'Prometheus'
    grafana_datasources:
      - name: "Prometheus"
        type: "prometheus"
        access: "proxy"
        url: "http://prometheus.mydomain"
        basicAuth: true
        basicAuthUser: "admin"
        basicAuthPassword: "password"
        isDefault: true
        jsonData: '{"tlsAuth":false,"tlsAuthWithCACert":false,"tlsSkipVerify":true}'
